# -*- mode: gitignore; -*-

# osx
.DS_Store
.AppleDouble
.LSOverride

# icons
Icon

# thumbnails
._*

# files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# directories potentially created on remote afp share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
emacs/.emacs.d/.cache/
emacs/.local

# org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# auctex auto folder
/auto/

# cask packages
.cask/

# server auth directory
/server/

# compiled
*.elc

# packaging
.cask

# tmuxinator
tmuxinator/.config/configstore/

# work
zsh/.zsh/work.zsh
tmuxinator/.config/gcloud/